{% extends "scanner_base.html" %}

{% block menu %}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/new">New Scan</a></li>
    <li><a href="#">My Scans</a></li>
    <li><a href="#">Plans</a></li>
{% endblock %}

{% block content %}
    <h1>New Scan</h1>
    {% if url_entered %}
        <h2>Overview</h2>
        <div id="errors_warnings">
            <div id="high_risk" class="alert alert-error alert-block">
                <span class="warning_text">0</span><br/>
                High Risk
            </div>
            <div id="medium_risk" class="alert alert-block">
                <span class="warning_text">0</span><br/>
                Medium Risk
            </div>
            <div id="low_risk" class="alert alert-info alert-block">
                <span class="warning_text">0</span><br/>
                Low Risk
            </div>
        </div>
        <br style="clear: both;"/>
        <h2>Details</h2>
        <p>Now scanning: {{url_entered}}...
        <br/>Plan Selected: {{plan_selected}}
        <br/>Scan ID: {{scan_id}}
        <br/>Time Started: {{time_started}}</p>
        
        
        <h2>Plugin Status</h2>
        <div id="results_area">
            {% for session in first_results %}
                <div class="plugin_result">
                    {{session.plugin_name}}
                    <div class="progress progress-info progress-striped">
                        <div id="{{session.id}}" class="bar" style="width: 0%;"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <h2>Live Results</h2>
        <textarea id="updating_results">
            
        </textarea>
        
        <script type="text/javascript">
            setInterval(function() {
                $.post("/en-US/xhr_scan_status/", {
                    "scan_id":"{{scan_id}}"
                },
                function(data) {
                    var json_data = jQuery.parseJSON(data);
                    
                    $.each(json_data.results, function(i, result) {
                        $("#updating_results").val($("#updating_results").val() + "\n" + JSON.stringify(result['issues']));
                        //Update progress bars
                        var div_id = result['session']['id'];
                        var progress = result['session']['duration'] + "%";
                        $("#" + div_id).css("width", progress);
                    });
                });
            }, 5000);
        </script>
        
    {% else %}
        <form class="form-horizontal well" method="POST" action="">
            <div id="new_scan_enter_url">
                <input name="new_scan_url_input" id="new_scan_url_input" type="text" placeholder="Enter URL to scan..."/>
                <select name="plan_selection" id="plan_dropdown">
                    <option>Select a plan...</option>
                    {% for plan in resp %}
                        <option id="{{ plan.name }}">{{ plan.name }}</option>
                    {% endfor %}
                </select>
                <br/>
                <button type="submit" class="btn btn-primary">Start Scan</button>
            </div>
            <div id="new_scan_advanced_options">
                <div id="new_scan_advanced_options_expander">
                    Additional Options (coming soon!)
                </div>
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </form>
    {% endif %}

{% endblock %}

{% block footer %}
    
{% endblock %}

{% block site_js %}
    {% compress js %}
    <script src="{{ static('scanner/js/libs/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ static('scanner/js/libs/jquery.cookie.js') }}"></script>
    <script src="{{ static('scanner/js/init.js') }}"></script>
    {% endcompress %}
    {% if not request.user.is_active %}
        {{ browserid_form.media }}
    {% endif %}
{% endblock %}
