{% extends "scanner_base.html" %}

{% block content %}
    <h1>New Scan</h1>
    {% if url_entered %}
        <h2>Details</h2>
        <p>Now scanning: {{url_entered}}...
        <br/>Plan Selected: {{plan_selected}}
        <br/>Scan ID: {{scan_id}}
        <br/>Time Started: {{time_started}}</p>
        
        
        <h2>Live Results</h2>
        <div id="results_area">
            {% for session in first_results %}
                <div id="{{session.plugin_name}}" class="plugin_result">
                    
                </div>
            {% endfor %}
        </div>
        <textarea id="updating_results">
            
        </textarea>
        
        <script type="text/javascript">
            setInterval(function() {
                $.post("/en-US/xhr_scan_status/", {
                    "scan_id":"{{scan_id}}"
                },
                function(data) {
                    var json_data = jQuery.parseJSON(data);
                    
                    $.each(json_data.scan.sessions, function(i, session) {
                        
                        $("#updating_results").val($("#updating_results").val() + "\n" + session.plugin_name);
                    });
                });
            }, 5000);
        </script>
        
    {% else %}
        <form method="POST" action="">
            <div id="new_scan_enter_url">
                <input name="new_scan_url_input" id="new_scan_url_input" type="text" placeholder="Enter URL to scan..."/>
                <select name="plan_selection" id="plan_dropdown">
                    <option>Select a plan...</option>
                    {% for plan in resp %}
                        <option id="{{ plan.name }}">{{ plan.name }}</option>
                    {% endfor %}
                </select>
                <br/>
                <input type="submit" value="Start Scan" />
            </div>
            <div id="new_scan_advanced_options">
                <div id="new_scan_advanced_options_expander">
                    Additional Options (coming soon!)
                </div>
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </form>
    {% endif %}

{% endblock %}

{% block footer %}
    
{% endblock %}

{% block site_js %}
    {% compress js %}
    <script src="{{ static('scanner/js/libs/jquery-1.8.2.min.js') }}"></script>
    <script src="{{ static('scanner/js/libs/jquery.cookie.js') }}"></script>
    <script src="{{ static('scanner/js/init.js') }}"></script>
    {% endcompress %}
    {% if not request.user.is_active %}
        {{ browserid_form.media }}
    {% endif %}
{% endblock %}
