{% extends "scanner_base.html" %}

{% block menu %}
    <li><a href="/">Home</a></li>
    <li><a href="/new">New Scan</a></li>
    <li class="active"><a href="/myscans">My Scans</a></li>
    <li><a href="/plans">Plans</a></li>
{% endblock %}

{% block content %}
    <div class="page-header">
    <h1>Scan Results</h1>
    </div>
    
    {% if error %}
        <div class="alert alert-error"><strong>Error</strong><br/>{{ error }}</div>
    {% else %}
        <h2>Overview</h2>
        <div id="errors_warnings">
            <span class="risk_boxes">
            <div id="high_risk" class="alert alert-error alert-block">
                <a href="#high_risk_results"><span class="warning_text" id="num_high_risk">{{num_high}}</span><br/>
                High Risk</a>
            </div>
            <div id="medium_risk" class="alert alert-block">
                <a href="#medium_risk_results"><span class="warning_text" id="num_medium_risk">{{num_med}}</span><br/>
                Medium Risk</a>
            </div>
            <div id="low_risk" class="alert alert-info alert-block">
                <a href="#low_risk_results"><span class="warning_text" id="num_low_risk">{{num_low}}</span><br/>
                Low Risk / Informational</a>
            </div>
            </span>
        </div>
        <br style="clear: both;"/>
        {% if not finished %}
            <script src="{{ static('scanner/js/plugin_results_expand.js') }}"></script>
            <div id="overall_plugin_results_expander">
                Overall Progress (click to see progress of individual plugins)
                <div class="progress progress-info progress-striped">
                    <div id="overall_progress" class="bar" style="width: 0%;"></div>
                </div>
            </div>
            <div id="plugin_results_area">
                {% for session in results['sessions'] %}
                    {{session.plugin_name}}
                    <div class="plugin_result">
                        <div id="{{session.id}}_prog" class="progress progress-info progress-striped">
                            <div id="{{session.id}}" class="bar" style="width: 0%;"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <h2>Details</h2>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Current Status:</th>
                    <td>
                        {% if finished %}
                        Scan is finished running.
                        {% else %}
                            <img id="scanning_gif" src="{{ static('scanner/img/scanning.gif') }}" height="20px" width="20px" /><span id="scan_status_label"> Scan is currently running...</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>URL Scanned:</th>
                    <td>{{results['configuration']['target']}}</td>
                </tr>
                <tr>
                    <th>Plan Selected:</th>
                    <td>{{results['plan']['name']}}</td>
                </tr>
                <tr>
                    <th>Scan ID:</th>
                    <td>{{results['id']}}</td>
                </tr>
                <tr>
                    <th>Time Started</th>
                    <td>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        
        {% if not finished %}
            
        {% endif %}
        
        {% if not finished %}
            <h2>Live Results</h2>
            <textarea id="updating_results"></textarea>
        {% endif %}
        
        <h2>Detailed Results</h2>
        <script src="{{ static('scanner/js/table_results_expand.js') }}"></script>
        <h3 id="high_risk_results">High Risk</h3>
        <div id="high_risk_results_div">
            {% for session in results.sessions %}
                {% for issue in session.issues%}
                    {% if issue['Severity'] == "High" %}
                        <table class="table table-bordered table-results">
                            <thead class="results_table_expander">
                                <tr>
                                    <th>
                                        <span class="plus_minus">+</span> {{issue['Summary']}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="results_table_area">
                                {% for key in issue %}
                                    <tr>
                                        <td>{{key}}</td>
                                        <td>{{issue[key]}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        
        <h3 id="medium_risk_results">Medium Risk</h3>
        
        <div id="medium_risk_results_div">
            {% for session in results.sessions %}
                {% for issue in session.issues%}
                    {% if issue['Severity'] == "Medium" %}
                        <table class="table table-bordered table-results">
                            <thead class="results_table_expander">
                                <tr>
                                    <th>
                                        <span class="plus_minus">+</span> {{issue['Summary']}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="results_table_area">
                                {% for key in issue %}
                                    <tr>
                                        <td>{{key}}</td>
                                        <td>{{issue[key]}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <h3 id="low_risk_results">Low Risk / Informational</h3>
        
        <div id="low_risk_results_div">
            {% for session in results.sessions %}
                {% for issue in session.issues%}
                    {% if issue['Severity'] == "Low" or issue['Severity'] == "Informational" or issue['Severity'] == "Info"%}
                        <table class="table table-bordered table-results">
                            <thead class="results_table_expander">
                                <tr>
                                    <th>
                                        <span class="plus_minus">+</span> {{issue['Summary']}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="results_table_area">
                                {% for key in issue %}
                                    <tr>
                                        <td>{{key}}</td>
                                        <td>{{issue[key]}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
                
        {% if not finished %}
            <script type="text/javascript">
                var scan_id = "{{results['id']}}";
            </script>
            <script src="{{ static('scanner/js/live_results_update.js') }}"></script>
        {% endif %}
    {% endif %}

{% endblock %}

{% block footer %}
    
{% endblock %}